<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "true"
    stopOnFailure               = "false"
    stopOnError                 = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "./bootstrap.php"
    >
    <testsuites>
        <testsuite name="connect4">
            <file>tests/BoardTests.php</file>
            <file>tests/PlayerTests.php</file>
            <file>tests/MovesStoreTests.php</file>
            <file>tests/GameTests.php</file>
        </testsuite>
    </testsuites>
</phpunit>